{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> {% for article in article_contents %}
                {{article.title}}
            {% empty %}    
                Article Template
            {% endfor %}       
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
                                    initial-scale=1.0">
    <link rel="stylesheet" href="https://dev-server.londonnaturedaybyday.com/static/styles.css">
    <link rel="icon" type="image/jpg" href="https://dev-server.londonnaturedaybyday.com/static/images/favicon.jpg">
</head>
<body>
    <header>
        <div class="banner">
            <nav class="nav-overlay">
                <ul>
                    <li><a href="https://dev-server.londonnaturedaybyday.com/articles/grouping/1/">January</a></li>
                    <li><a href="https://dev-server.londonnaturedaybyday.com/articles/">All Months</a></li>
                    <Li><a href="https://dev-server.londonnaturedaybyday.com">Home</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="menu-content" id="menuContent">
            <a href="https://dev-server.londonnaturedaybyday.com">Home</a>
            <a href="#" onclick="toggleSubMenu(event, 'All-Months-Sub-Menu')">Months Menu</a>
            <div class="sub-menu" id="All-Months-Sub-Menu" style="display: none;">
                {% if latest_article_group_list %}              
                    {% for article_group in latest_article_group_list %}
                    <div>  
                        <a href="/articles/grouping/{{ article_group.id }}/">
                            <img style="vertical-align:middle" src="https://dev-server.londonnaturedaybyday.com/media/{{article_group.tile_image}}" width="25" height="25">
                            <span style=""> {{ article_group.title }}</span></a>
                    </div>
                    {% endfor %}
                {% else %}
                <a href="https://dev-server.londonnaturedaybyday.com/articles"><I>- All Months</I></a>
                {% endif %}           
            </div>
            <a href="https://dev-server.londonnaturedaybyday.com/articles/today">Today</a>
        </div>
        <script>
            function toggleMenu() {
                var menuContent = document.getElementById('menuContent');
                if (menuContent.style.display === 'block') {
                    menuContent.style.display = 'none';
                } else {
                    menuContent.style.display = 'block';
                }
            }

            function toggleSubMenu(event, subMenuId) {
               event.preventDefault();
                var subMenu = document.getElementById(subMenuId);
                if (subMenu.style.display === 'block') {
                    subMenu.style.display = 'none';
                } else {
                    subMenu.style.display = 'block';
                }
            }
        </script>
    </header>
    {% for article in article_contents %}
    <div class="article-container">
        <div class="logo-container">
            <div class="aside">
                <img style="vertical-align:middle" src="https://dev-server.londonnaturedaybyday.com/media/{{ article.tile_image }}" 
                        alt="{{ article.title }} Tile Image" class="small-centered-tile">
            </div>         
        </div>
        <div class="article">
            <H1>{{article.title}}</H1>
            {% if article.pub_date|is_future_date %}
            {% else %}
                <div class="youtube-container">
                    <iframe width=auto height=auto src="{{article.youtube_video }}" allowfullscreen id="HomePageVideo"></iframe>
                </div>
            {% endif %}
            <H2>Summary</H2>
                <div class="synopsis">
                    {{ article.synopsis|safe }}
                </div>
            <H2>Article</H2>
            {% for article_section_link in article.article_section_link_set.all|dictsort:'sort_order' %}
            <div class="article-image">           
                <P>
                    <!-- dealing with image top sections-->
                    {% if article_section_link.article_section.article_layout.name == 'image-top' %}
                    <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                        width=100% height=100% class="picture-above-article-section">                         
                    <div class="image-top-layout">
                        <div class="article-image">
                            <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                                 width=auto height=auto class="picture-above-article-layout">                    
                        </div>
                        <P></P>
                        <div class="article-text">
                        {{ article_section_link.article_section.article_section_content|safe }}
                        </div>
                    </div>
                    {% endif %}
                    <!-- dealing with image bottom sections-->
                    {% if article_section_link.article_section.article_layout.name == 'image-bottom' %}
                    <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                        width=100% height=100% class="picture-above-article-section">                         
                    <div class="image-bottom-layout">
                        <div class="article-text">
                        {{ article_section_link.article_section.article_section_content|safe }}
                        </div>
                        <P></P>
                        <div class="article-image">
                            <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                                 width=auto height=auto class="picture-below-article-layout">                    
                        </div>                        
                    </div>
                    {% endif %}                    
                    <!-- dealing with article right sections-->
                    {% if article_section_link.article_section.article_layout.name == 'image-right' %}
                    <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                        width=100% height=100% class="picture-above-article-section">                         
                    <div class="image-right-layout">
                        <div class="article-text">
                        {{ article_section_link.article_section.article_section_content|safe }}
                        </div>
                        <div class="article-image">
                            <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                                 width=250 height=141 class="picture-alongside-article-right-section">                    
                        </div>
                    </div>
                    {% endif %}
                    <!-- dealing with article left sections-->
                    {% if article_section_link.article_section.article_layout.name == 'image-left' %}
                    <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                    width=100% height=100% class="picture-above-article-section">                         
                    <div class="image-left-layout">
                        <div class="article-image">
                            <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                            width=250 height=141 class="picture-alongside-article-left-section">                    
                        </div>
                        <div class="article-text">
                            {{ article_section_link.article_section.article_section_content|safe }}
                        </div>                        
                    </div>
                    {% endif %}
                    <!-- dealing with simple sections-->
                    {% if article_section_link.article_section.article_layout.name == 'simple' %}
                    <div class="simple-layout">
                        <div class="article-text">
                            {{ article_section_link.article_section.article_section_content|safe }}
                        </div>                        
                    </div>
                    {% endif %}
                </P>                                
            </div>
            {% empty %}     
            <div class="synopsis">
                <p>
                The full article will be launched on {{ article.pub_date|date:"d F" }} until then you can enjoy a teaser of the content
                that will be coming here and all articles using the <a href="https://www.londonnaturedaybyday.com/articles/">All Articles</a> link.
                </p>
            </div>
            {% endfor %}               
        </div>
    </div>
    {% empty %}  
    <div>

    </div>
    {% endfor %}  

    <footer>
        <div class="footer">
            <address>
                <h2>London Nature Day by Day</h2>
                <p>London, United Kingdom</p>
            </address>
            <p>All rights reserved &copy; London Nature Day by Day</p>
            <p>Contact us via <a href="mailto:tom@londonnaturedaybyday.com">email</a>.</p>
        </div>    
    </footer>               
</body>
</html>