{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Article Groups Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
                                   initial-scale=1.0">
    <link rel="stylesheet" href="https://dev-server.londonnaturedaybyday.com/static/styles.css">
    <link rel="icon" type="image/jpg" href="https://dev-server.londonnaturedaybyday.com/static/images/favicon.jpg">
</head>
<style></style>
<body>
    <header>
        <div class="banner">
            <nav class="nav-overlay">
                <ul>
                    <li><a href="https://dev-server.londonnaturedaybyday.com/articles/grouping/1/">January</a></li>
                    <li><a href="https://dev-server.londonnaturedaybyday.com/">Home</a></li>
                    <Li><a href="https://dev-server.londonnaturedaybyday.com/articles/today">Today</a></li>
                </ul>
            </nav>       
        </div>
        <div class="menu" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="menu-content" id="menuContent">
            <a href="https://dev-server.londonnaturedaybyday.com">Home</a>
            <a href="#" onclick="toggleSubMenu(event, 'All-Months-Sub-Menu')">Months Menu</a>
            <div class="sub-menu" id="All-Months-Sub-Menu" style="display: none;">
                {% if latest_article_group_list %}              
                    {% for article_group in latest_article_group_list %}
                    <div>  
                        <a href="/articles/grouping/{{ article_group.id }}/">
                            <img style="vertical-align:middle" src="https://dev-server.londonnaturedaybyday.com/media/{{article_group.tile_image}}" width="25" height="25">
                            <span style="">- {{ article_group.title }}</span></a>
                    </div>
                    {% endfor %}
                {% else %}
                <a href="https://dev-server.londonnaturedaybyday.com/articles"><I>- All Months</I></a>
                {% endif %}           
            </div>
            <a href="https://dev-server.londonnaturedaybyday.com/articles/today">Today</a>
        </div>
        <script>
            function toggleMenu() {
                var menuContent = document.getElementById('menuContent');
                if (menuContent.style.display === 'block') {
                    menuContent.style.display = 'none';
                } else {
                    menuContent.style.display = 'block';
                }
            }

            function toggleSubMenu(event, subMenuId) {
               event.preventDefault();
                var subMenu = document.getElementById(subMenuId);
                if (subMenu.style.display === 'block') {
                    subMenu.style.display = 'none';
                } else {
                    subMenu.style.display = 'block';
                }
    }
        </script>
    </header>
    {% if latest_article_group_list %} 
    <main>
        <section class="tiles-container">
            {% for article_group in latest_article_group_list %}
            <div class="tile"> 
                <P></P>
                <a href="/articles/grouping/{{ article_group.id }}/" type="image/jpg"><img src="https://dev-server.londonnaturedaybyday.com/media/{{article_group.tile_image}}" 
                             alt="{{ article_group.title }}" class="centered-tile"></a>
                <div class="bottom-left-over-image">{{ article_group.title }}</div>
                <P></P>
            </div>      
            {% endfor %}
        </section>
    </main>
    {% else %}
    <div class="article-container">
        <div class="logo-container">
            <div class="aside">
                <img src="https://dev-server.londonnaturedaybyday.com/static/images/site-square.jpg" alt="London Nature day by day Logo"
                    width="250" height="250">
            </div>
        </div>
        <div class="article">
            <P></P>
            <div class="youtube-container">
                <iframe width=auto height=auto src="https://dev-server.youtube.com/embed/x7A_dgMDcbQ?si=E5xp3E0nVJOGou4J" allowfullscreen id="HomePageVideo"></iframe>            
            </div>
            <H2>Coming Soon</H2>
            <p>London Nature Day by Day will be coming on 01 January, until then you can enjoy this teaser video
            </p>
        </div>
    </div>         
    {% endif %}    
<div class="footer">
    <footer>
        <address>
            <h2>London Nature Day by Day</h2>
            <p>London, United Kingdom</p>
        </address>
        <p>All rights reserved &copy; London Nature Day by Day</p>
        <p>Contact us via <a href="mailto:tom@londonnaturedaybyday.com">email</a>.</p>
    </footer>
</div>
</body>
<script type="text/javascript" src="script.js"></script>
</html>