{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About London Nature Day by Day</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, 
                                        initial-scale=1.0">
        <link rel="stylesheet" href="https://dev-server.londonnaturedaybyday.com/static/styles.css">
        <link rel="icon" type="image/jpg" href="https://dev-server.londonnaturedaybyday.com/static/images/favicon.jpg">
    </head>
<body>
    <header>
        <div class="banner">
            <nav class="nav-overlay">
                <ul>
                    <li><a href="https://dev-server.londonnaturedaybyday.com/articles/grouping/1/">January</a></li>
                    <li><a href="https://dev-server.londonnaturedaybyday.com/articles/">All Months</a></li>
                    <Li><a href="https://dev-server.londonnaturedaybyday.com">Home</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="menu-content" id="menuContent">
            <a href="https://dev-server.londonnaturedaybyday.com/articles">All Months</a>
            <a href="https://dev-server.londonnaturedaybyday.com/articles/grouping/1/">January</a>
            <a href="https://dev-server.londonnaturedaybyday.com">Home</a>
        </div>
        <script>
            function toggleMenu() {
                var menuContent = document.getElementById('menuContent');
                if (menuContent.style.display === 'block') {
                    menuContent.style.display = 'none';
                } else {
                    menuContent.style.display = 'block';
                }
            }
        </script>
    </header>
    <main>
        {% for article in article_contents %}
        <section class="article-container-squashed">
            <div class="logo-container">
                <div class="aside">
                    <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article.tile_image }}" alt="{{ article.title }} Tile Image"
                            width=210px height=210px>
                </div>
            </div>        
            <div class="squashed">
                <H1>{{article.title}}</H1>
                <div class="youtube-container">
                    <iframe width=auto height=auto src="{{article.youtube_video }}" allowfullscreen id="HomePageVideo"></iframe>
                </div>
                <H2>Summary</H2>
                {{ article.synopsis|safe }}
                <H2>Article</H2>
                {% for article_section_link in article.article_section_link_set.all|dictsort:'sort_order' %}
                <div class="article-image">                               
                    <!-- dealing with article right sections-->
                    {% if article_section_link.article_section.article_layout.name == 'image-right' %}
                    <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                    width=100% height=100% class="picture-above-article-section">                         
                    <div class="image-right-layout">
                        <div class="article-text">
                        {{ article_section_link.article_section.article_section_content|safe }}
                        </div>
                        <div class="article-image">
                            <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                            width=250 height=141 class="picture-alongside-article-right-section">                    
                        </div>
                    </div>
                    {% endif %}
                    <!-- dealing with article left sections-->
                    {% if article_section_link.article_section.article_layout.name == 'image-left' %}
                    <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                    width=100% height=100% class="picture-above-article-section">                         
                    <div class="image-left-layout">
                        <div class="article-image">
                            <img src="https://dev-server.londonnaturedaybyday.com/media/{{ article_section_link.article_section.article_section_image }}" alt="{{ article.title }} Section Image"
                            width=250 height=141 class="picture-alongside-article-left-section">                    
                        </div>
                        <div class="article-text">
                            {{ article_section_link.article_section.article_section_content|safe }}
                        </div>                        
                    </div>
                    {% endif %}
                    <!-- dealing with simple sections-->
                    {% if article_section_link.article_section.article_layout.name == 'simple' %}
                    <div class="simple-layout">
                        <div class="article-text">
                            {{ article_section_link.article_section.article_section_content|safe }}
                        </div>                        
                    </div>
                    {% endif %}                    
                    <P></P>
                </div>       
                {% empty %}     
                <p>
                The full article will be launched on {{ article.pub_date|date:"d F" }} until then you can enjoy a teaser of the content
                that will be coming here and all articles using the <a href="https://dev-server.londonnaturedaybyday.com/articles/">All Articles</a> link.
                </p>
                {% endfor %}        
            </div> 
        </section>    
        {% empty %}        
        <div class="article-container">
            <div class="logo-container">
                <div class="aside">
                    <img src="https://dev-server.londonnaturedaybyday.com/static/images/site-square.jpg" alt="London Nature day by day Logo"
                        width="250" height="250">
                </div>
            </div>
            <div class="article">
                <P></P>
                <div class="youtube-container">
                    <iframe width=auto height=auto src="https://dev-server.youtube.com/embed/x7A_dgMDcbQ?si=E5xp3E0nVJOGou4J" allowfullscreen id="HomePageVideo"></iframe>            
                </div>
                <H2>Coming Soon</H2>
                <p>London Nature Day by Day will be coming on 01 January, until then you can enjoy a teaser of the content
                    that will be coming using the <a href="https://dev-server.londonnaturedaybyday.com/articles/">All Articles</a> link.
                </p>
            </div>
        </div>                   
        {% endfor %}
    </main>            
</body>
</html>