{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>London Nature Artiles Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
                                   initial-scale=1.0">
    <link rel="stylesheet" href="https://dev-server.londonnaturedaybyday.com/static/styles.css">
    <link rel="icon" type="image/jpg" href="https://dev-server.londonnaturedaybyday.com/static/images/favicon.jpg">
</head>
<style></style>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="https://dev-server.londonnaturedaybyday.com/static/images/site-main-art.jpg"
                    width="100" height="50" alt="London Nature day by day" class="site-banner"></li>
                <li><a href="https://dev-server.londonnaturedaybyday.com/">Home</a></li>
                <li><a href="https://dev-server.londonnaturedaybyday.com/articles/today">Todays Article</a></li>
            </ul>
        </nav>
    </header>
    {% if latest_article_group_list %} 
    <main>
        <section class="tiles-container">
            {% for article_group in latest_article_group_list %}
            <div class="tile"> 
                <P></P>
                <a href="/articles/grouping/{{ article_group.id }}/" type="image/jpg"><img src="https://dev-server.londonnaturedaybyday.com/media/{{article_group.tile_image}}" 
                             alt="{{ article_group.title }}" class="centered-tile"></a>
                <div class="bottom-left-over-image">{{ article_group.title }}</div>
                <P></P>
            </div>      
            {% endfor %}
        </section>
    </main>
    {% else %}
    <article><H1>No artilce groups are available.</H1></article>
    {% endif %}    
<div class="footer">
    <footer>
        <address>
            <h2>London Nature Day by Day</h2>
            <p>London, United Kingdom</p>
        </address>
        <p>All rights reserved &copy; London Nature Day by Day</p>
        <p>Contact us via <a href="mailto:tom@londonnaturedaybyday.com">email</a>.</p>
    </footer>
</div>
</body>
<script type="text/javascript" src="script.js"></script>
</html>