{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>London Nature Artiles Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
                                   initial-scale=1.0">
    <link rel="stylesheet" href="https://dev-server.londonnaturedaybyday.com/static/styles.css">
    <link rel="icon" type="image/jpg" href="https://dev-server.londonnaturedaybyday.com/static/images/favicon.jpg">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="https://dev-server.londonnaturedaybyday.com/static/images/site-main-art.jpg"
                    width="150" height="75" alt="London Nature day by day" class="site-banner"></li>
                <li><a href="https://dev-server.londonnaturedaybyday.com/">Home</a></li>
                <li><a href="http://www.google.com">Todays Article</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% for article in article_contents %}
        <aside>
            <div class="logo-container"><img src="https://dev-server.londonnaturedaybyday.com/static{{ article.tile_image }}" alt="{{ article.title }} Tile Image"
            width="250" height="250"></div>
        </aside>    
        <article>
            <H1>{{article.title}}</H1>
            <iframe width=175% height=175% src="{{article.youtube_video }}" allowfullscreen id="HomePageVideo"></iframe>
            {{ article.synopsis|safe }}
            <P></P>
        {% endfor %}
        </article>
    </main>
</body>
</html>
