{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>About London Nature Day by Day</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
                                    initial-scale=1.0">
    <link rel="stylesheet" href="https://dev-server.londonnaturedaybyday.com/static/styles.css">
    <link rel="icon" type="image/jpg" href="https://dev-server.londonnaturedaybyday.com/static/images/favicon.jpg">
</head>
<body>
    <header>
        <div class="banner">
            <nav class="nav-overlay">
                <ul>
                    <li><a href="https://dev-server.londonnaturedaybyday.com/articles/grouping/1/">January</a></li>
                    <li><a href="https://dev-server.londonnaturedaybyday.com/articles/">All Months</a></li>
                    <Li><a href="https://dev-server.londonnaturedaybyday.com/articles/today">Today</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="menu-content" id="menuContent">
            <a href="https://dev-server.londonnaturedaybyday.com/articles">All Months</a>
            <a href="https://dev-server.londonnaturedaybyday.com/articles/grouping/1/">January</a>
            <a href="https://dev-server.londonnaturedaybyday.com/articles/today">Today</a>
        </div>
        <script>
            function toggleMenu() {
                var menuContent = document.getElementById('menuContent');
                if (menuContent.style.display === 'block') {
                    menuContent.style.display = 'none';
                } else {
                    menuContent.style.display = 'block';
                }
            }
        </script>
    </header>
    <div class="article-container">
        <div class="logo-container">
            {% if latest_article_group_list %} 
            <section class="tiles-sidebar">
                {% for article_group in latest_article_group_list %}
                <P></P>
                <div class="smalltile"> 
                    <P></P>
                    <a href="/articles/grouping/{{ article_group.id }}/" type="image/jpg"><img src="https://dev-server.londonnaturedaybyday.com/media/{{article_group.tile_image}}" 
                                    alt="{{ article_group.title }}" class="small-centered-tile"></a>
                    <div class="small-bottom-left-over-image">{{ article_group.title }}</div>
                    <P></P>
                </div>      
                {% endfor %}
            {% else %}
            <H2>NO DATA</H2>
            </section>
            {% endif %}            
        </div>
        <div class="article">
            <H1>Welcome to London Nature day by day</H1>
            <H2>About the site</H2>
            <p>
                Welcome to London Nature Day by Day! Starting January 1st, 2025, we will launch a daily series in memory of Alan Christian Palfrey, 
                a founder member of the Plant Life Charity. Each day, we'll reveal the hidden biodiversity of London through episodes on X/Twitter, 
                Facebook, and YouTube.
            </p>
            <P>
                Discover rare plants in Hampstead Heath, vibrant wildlife along the Thames, and more. Learn to spot seasonal changes, identify local species, 
                and appreciate our urban ecosystem. Join our community, share your experiences, and celebrate London's natural beauty together.This series honors 
                Alan's legacy and aims to inspire you to see our city through a new lens. Biodiversity is the heartbeat of our environment, 
                and there's always something new to learn and appreciate.
            </P>
            <P>
                Mark your calendars for January 1st, 2025. Subscribe, follow, and get ready for a year-long journey into the wonders of nature. Let's make 2025 
                a year of discovery, learning, and connection with the world around us. Are you ready to unlock the secrets of nature daily? We can't wait to share this adventure with you. Like, share, and subscribe to stay updated!
            </p>
            <div class="youtube-container">
                <iframe width=auto height=auto src="https://dev-server.youtube.com/embed/x7A_dgMDcbQ?si=E5xp3E0nVJOGou4J" allowfullscreen id="HomePageVideo"></iframe>            
            </div>
            <H2>Background</H2>
            <P>
                In the late 1960’s, a small group of largely teenage undergraduate Zoologists at King’s College on the Strand with all the bravura of 
                youth invited Professor Maurice Wilkins (of DNA, Nobel prize fame) to a meeting with them to discuss the future of the planet and how 
                to save it from imminent ecological disaster.  The great man surprisingly attended and listened quietly to their various protestations 
                then calmly before leaving suggested they all gave up their degree studies immediately and went into politics.
            </P>
            <P>
                I was one of those nonplussed students left in the room that day who ignored his advice.  Since then over the last half century 
                I have been witness to the gradual desecration of innumerable habitats, ecosystems and legion upon legion of animal and plant species.  
                In my retirement I decided to write this book partly as an apology for the appalling custodianship of the natural world by my generation 
                but also with perhaps the vain hope that it might encourage some other young person to develop a deeper knowledge of the natural world about 
                them and pick up the baton which I so foolishly laid down that day.
            </P>
            <H2>Introduction</H2>
            <P>
                It seems likely London from its Roman origins right up to the fifteenth century was largely devoid of gardens as we know them today and to a large 
                extent coloured flowers.  Along the Thames we know there were many orchids in the marshes but winter would have been virtually colourless with so 
                few native evergreens.  In the sixteenth century William Turner (1509-1568) collected and named over two hundred plants which he listed in his herbal, 
                the first to be written in English.  Shortly after John Gerard (1545-1612) caretaker of Lord Burleigh’s garden on the Strand wrote his famous herbal 
                and left us an invaluable list of plants that were being grown at that time.
            </P>
            <P>
                The seventeenth century saw big changes with John Parkinson (1562-1650) apothecary to James I growing over 480 different plants in his garden in Long Acre 
                and recording over 3,800 plants in his herbal.  Meanwhile the Tradescants, gardeners to Charles I, were busy collecting plants from abroad and rearing their 
                own such as the hybrid London plane Plantanus x acerifolia which can still be found lining the Mall today.  Samuel Pepys wrote little of the natural 
                world about him but his great friend and fellow diarist John Evelyn (1620-1706) wrote Sylva, the first definitive book on trees.  
                The eighteenth century saw William Curtiss (1746-1799) director of the Chelsea Physic garden write his Flora Londoniensis with its handpainted engravings which, 
                for many, have never been improved upon.
            </P>
            <P>
                Then came the Victorians in the nineteenth century who sent collectors all over the world and they brought back many of the most colourful 
                plants we see in our gardens today.  This collecting and introducing has continued right up until the present day resulting in the almost 
                colourless four month winter the Romans would have known to a point when you can find colourful flowers all over London every day of the year.
            </P>
            <P>
                All things considered, especially the march of concrete, London still has a surprising number of different wild habitats.  
                It is quite rich in various kinds of woodland e.g. ancient, oak, beech, birch, mixed deciduous, conifer plantation and even box and yew.  
                Kew, among its 13,000 trees, has species from every corner of the globe.  London’s grasslands are less rich and in many cases are badly degraded.  
                However, a rich assemblage of species can still be found in some areas of calcareous grassland on the North Downs.  
                Marshes and bogs have all been largely drained but a few still remain though open springs and spring-fed ponds are far harder to find.  
                The same is true of wet and dry heathland which is largely lost, but not all of it.
            </P>
            <P>
                London has fared better with regard to its aquatic habitats and still has many lakes, ponds, rivers, canals and reservoirs although many lack 
                the emergent vegetation so vital to their biodiversity.  Any farmland bordering the city, like elsewhere, has been severely degraded by modern 
                farming practices, sometimes up to the point it is almost like a desert.  However, it is always worth remembering one fifth of London is made up of gardens, 
                there are 3,000 parks, 350 squares and any number of churchyards.  There also still remains valuable pockets of good saltmarsh, freshwater marsh, 
                fen, wet woodland, estuarine mudflats, ancient hedges and ash scrub.  Besides this London boasts 2 national nature reserves, 142 local nature reserves, 
                1,300 designated sites of importance for nature conservation, 36 sites of special scientific importance all to be enjoyed by the nine million people 
                who live here.  It is always worth remembering London’s largest habitat is the Thames with its 100 different fish and London’s most biodiverse habitat 
                is its soil with over 20,000 invertebrates per square metre in some muddy parts of the Thames.
            </P>
            <H2>Acknowledgements</H2>
            <P>
                Like most other authors I have first to acknowledge the debt I owe to my teachers.  My first teacher at school was Rodney Wilkinson at De La Salle College 
                in Manchester who took me and other students out for a long walk one whole afternoon each week and identified virtually every living creature he encountered.  
                It was he who suggested a summer job at the headquarters of the Freshwater Biological Association at Ferry House on the banks of Lake Windermere.  
                It was here one day, accompanying T. T. Macan to Hodson’s Tarn, I was lucky enough to discover a new species of hydra.  
                Then on to University here in London at King’s College and the great good luck to be taught by such people as Francis Rose, Mr Carpenter, Dr Cowan and 
                Miss Hawkins with field courses where we were taken to Norway for alpine plants, Anglesey for littoral fauna, Calder Idris in Wales for mosses, Holkham, 
                Norfolk for seamarsh, the Isle of Arran for geology and many others.  Later research on lakes was under the gentle guidance of R. S. Wilson at Bristol 
                University.  Sadly such an education is now very much a thing of the past with so many residential field courses being far too expensive for students and 
                therefore not offered.  Also there is now no pure Botany degree left available in Britain.                
            </P>
            <P>
                Finally I would like to thank my husband Alan Christian Palfrey without whose support this book would never have seen the light of day and my close friend 
                Beverley Leonard who has had the unenviable task of deciphering my longhand and volunteering to type the entire book.  Also my thanks go to all the field 
                naturalists along the way who so freely shared their often encyclopaedic knowledge, especially those of the London Natural History Society and most especially 
                Mario Tortelli, Trudy Flemming, Alex Henrici and Joyce Pitt.                
            </P>
        </div>
    </div>
    <footer>
        <div class="footer">
            <address>
                <h2>London Nature Day by Day</h2>
                <p>London, United Kingdom</p>
            </address>
            <p>All rights reserved &copy; London Nature Day by Day</p>
            <p>Contact us via <a href="mailto:tom@londonnaturedaybyday.com">email</a>.</p>
        </div>    
    </footer>    
</body>
</html>