@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --color-brand-primary: #b7b5e19c;
    --color-brand-headings: #353365;
    --color-brand-contrast: #fff;
    --color-table-shadow: #ccc;
    --color-input-borders: #898989;
    --color-footer-background: #898989;
    --color-background: #e5e5e5;
    --box-shadow: #00000033;
    --standard-text: black;
    --main-font: 'Open Sans', sans-serif;
}

/* ################################################# */
/*   New Section for three line menu and new header  */
/* ################################################# */


.nav-overlay {
    position: fixed;
    top: 35px;
    left: 40px;
    transform: translateY(-50%); /* Center vertically */
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.banner {
    width: 100%;
    height: 100px;
    background: url('https://www.londonnaturedaybyday.com/static/images/site-banner.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.menu div {
    width: 35px;
    height: 5px;
    background-color:var(--color-brand-headings);
    margin: 6px 0;
    transition: 0.4s;
}

.subscribe-menu {
    position: fixed;
    top: 50px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.subscribe-menu div {
    width: 35px;
    height: 5px;
    background-color:var(--color-brand-headings);
    margin: 6px 0;
    transition: 0.4s;
}

.menu-content {
    display: none;
    position: fixed;
    top: 60px;
    left: 20px;
    background-color: var(--color-brand-contrast);
    box-shadow: 0 2px 10px var(--box-shadow);
    z-index: 1000;
}

.menu-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-brand-headings);
}

.menu-content a:hover {
    background-color: var(--color-brand-primary);
}

/* ################################################# */
/* End of Section for three line menu and new header */
/* ################################################# */

html, body {
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--color-background);
}


nav ul {
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 2em 0 2em;
    vertical-align: middle;
}

nav > ul > li:first-child {
    padding-right: 2em;
    margin: 0 5em 0 5em;
    padding: 0;
}

nav ul li a,
nav ul li a:active,
nav ul li a:hover,
nav ul li a:visited {
    color: var(--color-brand-headings);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
}

h1, h2, h3 {
    color: var(--color-brand-headings);
}

article {
    padding: 2em;
}

.roundedtables {
    box-shadow: 2px 2px 8px var(--box=shadow);
    border: solid 1px var(--color-table-shadow);
    border-radius: 1em;
    padding: 1.5em;
    width: 90%;
    max-width: 325px;
    background-color: var(--color-brand-contrast);
    margin-top: 2em;
}

.no-underline-heading,
.no-underline-heading a:visited,
.no-underline-heading a:active,
.no-underline-heading a:hover {
    text-decoration: none;
    color: var(--color-brand-headings);
}

.no-underline-text,
.no-underline-text a:visited,
.no-underline-text a:active,
.no-underline-text a:hover {
    text-decoration: none;
    color: var(--standard-text);
}

.rounded-button {
    padding: 10px 20px;
    font-size: 1.3em;
    color: var(--color-brand-headings);
    background-color: var(--color-brand-primary);
    border: none;
    border-radius: 25px;
    border-color: var(--color-brand-headings);
    cursor: pointer;
    transition: var(--color-brand-primary) 0.3s ease;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.future-button {
    padding: 10px 20px;
    font-size: 1.3em;
    color: var(--color-brand-contrast);
    background-color: var(--color-footer-background);
    border: none;
    border-radius: 25px;
    border-color: var(--color-brand-headings);
    cursor: pointer;
    transition: var(--color-brand-primary) 0.3s ease;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 1em;
    background-color: var(--color-footer-background);
}

footer address {
  font-style: normal;
}

footer address h2,
footer address p {
    margin: 0;
}

footer address h2 {
    font-size: 1.25em;
    color: var(--box=shadow);
}

.logo-container {
    text-align: left;
    padding-top: 2em;
    display: none;
}

.logo-container img {
    max-width: auto;
}

.site-banner {
    display: none;
}

.picture-alongside-article-right-section,
.picture-alongside-article-left-section {
    display: none;
}

.picture-above-article-layout,
.picture-below-article-layout {
    display: none;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;    
}

.youtube-container {
    flex: 0 0 auto;
    max-width: 750px;
}

.youtube-container iframe {
    max-width: 750px;
    max-height: 421px;
    min-height: 421px;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto; 
}

.article-container {
    display: flex;
    min-height: 80vh;
}

.article-container-squashed {
    position: absolute;
    display: flex;
    left: 25px;
    min-height: 80vh;
    min-width: 300px
    max-width: 500px
    width: 100%;
}

.squashed {
    max-width: 650px;
    margin: auto;
}

.image-right-layout,
.image-left-layout {
    display: flex;
    max-width: 750px;
}

.synopsis {
    max-width: 750px;
}

.article-text {
    flex: 1;
    max-width: 750px;
}

.article-image {
    flex: 0 0 auto;
    max-width: 750px;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.tiles-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* ########################## */
/* used for the article tiles */
/* ########################## */

.tile {
    flex: 1 1 250px;
    max-width: 400px;
    min-width: 275px;
    background-color: var(--color-brand-contrast);
    border: 0.5px ridge var(--color-brand-contrast);
    outline 2px solid var(--color-brand-headings);
    box-shadow: 0 2px 4px var(--box=shadow);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    margin: 2.5px;
}

.tile > div {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.tile:hover {
    transform: scale(1.05);
}

.tile-text {
    margin: 5%;
}

.tile-heading {
    margin: 5%;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-brand-headings);
}

/* ################################# */
/* end of used for the article tiles */
/* ################################# */

/* ############################## */
/* used for the small month tiles */
/* ############################## */

.smalltile {
    flex: 0 1 auto;
    max-width: 175px;
    max-height: 180px;
    background-color: var(--color-brand-contrast);
    border: 0.5px ridge var(--color-brand-contrast);
    outline 2px solid var(--color-brand-headings);
    box-shadow: 0 2px 4px var(--box=shadow);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    margin: 2.5px;
    align-items: center;
}

.smalltile > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smalltile:hover {
    transform: scale(1.05);
}

.smalltile-text {
    margin: 5%;
}

.smalltile-heading {
    margin: 5%;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-brand-headings);
}

/* ##################################### */
/* end of used for the small month tiles */
/* ##################################### */

.small-centered-tile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto%;
    text-decoration: none;
    align-items: center;
  }

.centered-tile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto%;
    text-decoration: none;
    align-items: center;
  }

.bottom-left-over-image {
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: var(--color-brand-contrast);
    font-size: 1.2em;
}

.small-bottom-left-over-image {
    position: absolute;
    bottom: 12%;
    left: 12%;
    color: var(--color-brand-contrast);
    font-size: 1.2em;
}

@media (min-width: 300px){  
    nav ul li a,
    nav ul li a:active,
    nav ul li a:hover,
    nav ul li a:visited {
        font-size: 1em;        
    }

    .nav-overlay {
        display: block;
    }

    nav > ul > li:first-child{
        display: none;
    }
    
    .youtube-container iframe {
        max-width: 750px;
        max-height: 421px;
        min-height: 210px;
        min-width: 100%;
    }        
}

@media (min-width: 750px){  
    .site-banner {
        display: block;
        text-align: center;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    
    .banner {
        height: 400px;
    }

    .picture-alongside-article-right-section {
        display: block;
        padding-left: 10px;
    }

    .picture-alongside-article-left-section {
        display: block;
        padding-right: 10px;
    }

    .picture-below-article-layout,
    .picture-above-article-layout {
        display: block;
    }    

    .picture-above-article-section {
        display: none;
    }

    nav ul li a,
    nav ul li a:active,
    nav ul li a:hover,
    nav ul li a:visited {
        font-size: 1.4em;        
    }    
    
    nav > ul > li:first-child{
        display: inline;
    }        
    
    .youtube-container iframe {
        max-width: 750px;
        max-height: 421px;
        min-height: 421px;
        min-width: 750px;
    }         
}

@media (min-width: 960px){  
    nav ul li a,
    nav ul li a:active,
    nav ul li a:hover,
    nav ul li a:visited {
        font-size: 2em;        
    }

    main {
        display: flex 1;
        width: 100%;
    }

    aside {
        flex: 1;
        max-width: 25%;
    }

    .article {
        flex: 4;
        padding-right: 6em;
    }

    footer {
        padding-left: 2%;
    }

    .logo-container {
        flex: 0.75;
        max-width: 250px;
        display: flex;
        justify-content: center;
        align-items: top;
    }

    .nav-overlay {
        display: block;
    }

    .logo-container img {
        max-width: 200px;
        padding-left: 1em;
        padding-right: 4em;        
    }

    .tile {
        flex: 1 0 400px;       
    }

    .tile-heading {
        font-size: 1.1em;
    }
    
    nav > ul > li:first-child{
        display: inline;
    }    
    
    .youtube-container iframe {
        max-width: 750px;
        max-height: 421px;
        min-height: 421px;
        min-width: 750px;
    }    
}

.fb-share-button {
    vertical-align: top;
    display: inline-block;
    transform: scale(1.15);
}

.whatsapp-share-button {
    vertical-align: top;
    display: inline-block;
}

.twitter-share-button {
    vertical-align: top;
    display: inline-block;
}